# Env based Keywords
# LOCAL -
# DEV   -
# TEST
# PROD

# TEST PARAMS
#----------------------------------------------------------------
OBJECT_STORE_USER_TEST=
OBJECT_STORE_SECRET_TEST=
OBJECT_STORE_BUCKET_TEST=
OBJECT_STORE_HOST_TEST=

# populate these to perform extract from oracle test
ORACLE_SCHEMA_TO_SYNC_TEST=
ORACLE_HOST_TEST=
ORACLE_PORT_TEST=
ORACLE_SERVICE_TEST=
ORACLE_USER_TEST=
ORACLE_PASSWORD_TEST=


# PROD PARAMS - populate these to perform extract from oracle prod
OBJECT_STORE_USER_PROD=
OBJECT_STORE_SECRET_PROD=
OBJECT_STORE_BUCKET_PROD=
OBJECT_STORE_HOST_PROD=
ORACLE_HOST_PROD=
ORACLE_PORT_PROD=
ORACLE_SERVICE_PROD=
ORACLE_SCHEMA_TO_SYNC_PROD=
ORACLE_USER_PROD=
ORACLE_PASSWORD_PROD=

# populate these parameter to perform extract from new spar in openshift.
OC_URL=https://api.silver.devops.gov.bc.ca:6443
OC_LICENSE_PLATE_PROD=
OC_LICENSE_PLATE_TEST=
OC_TOKEN_TEST=
OC_TOKEN_PROD=