[loggers]
keys=root,main_extract,main_injest,oradb_lib,docker_parser,async_loader

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_main_extract]
level=DEBUG
handlers=consoleHandler
qualname=main_extract
propagate=0

[logger_main_injest]
level=DEBUG
handlers=consoleHandler
qualname=main_injest
propagate=0

[logger_oradb_lib]
level=DEBUG
handlers=consoleHandler
qualname=oradb_lib
propagate=0

[logger_docker_parser]
level=DEBUG
handlers=consoleHandler
qualname=docker_parser
propagate=0

[logger_async_loader]
level=DEBUG
handlers=consoleHandler
qualname=async_loader
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter