[loggers]
keys=root,custom_exception,data_sync_control,data_synchronization,
    database_connection,metadata_handler,test_db_connection

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_custom_exception]
level=DEBUG
handlers=consoleHandler
qualname=module.custom_exception
propagate=0

[logger_data_sync_control]
level=DEBUG
handlers=consoleHandler
qualname=module.data_sync_control
propagate=0

[logger_data_synchronization]
level=DEBUG
handlers=consoleHandler
qualname=module.data_synchronization
propagate=0

[logger_database_connection]
level=DEBUG
handlers=consoleHandler
qualname=module.database_connection
propagate=0

[logger_metadata_handler]
level=DEBUG
handlers=consoleHandler
qualname=module.metadata_handler
propagate=0

[logger_test_db_connection]
level=DEBUG
handlers=consoleHandler
qualname=module.test_db_connection
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter