name: .Deploy

on:
  workflow_call:
    inputs:
      ### Required
      # Nothing! Only `secrets: inherit` is required

      ### Typical / recommended
      environment:
        description: GitHub/OpenShift environment; usually PR number, test or prod
        default: ""
        type: string
      postgres-host:
        description: PostgreSQL host
        default: nr-spar-test-database
        type: string
      run-etl:
        description: Run ETL after deploy?
        default: false
        type: boolean
      secrets-from:
        description: Secrets objects to reference
        default: nr-spar-test
        type: string
      tag:
        description: Container tag; usually PR number
        default: ${{ github.event.number }}
        required: false
        type: string
      target:
        description: Deployment target; usually PR number, test or prod
        default: ${{ github.event.number }}
        required: false
        type: string
      triggers:
        description: File paths that trigger this workflow
        default: ""
        type: string

      ### Per-environment config
      db-pvc-size:
        description: Database PVC size; e.g. 1Gi
        default: "128Mi"
        type: string
      test-mode:
        description: Test only?
        default: true
        type: boolean

    outputs:
      triggered:
        description: Was a deployment triggered?
        value: ${{ jobs.sync.outputs.deploy }}

jobs:
  init:
    name: Deploy Init
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    steps:
      - name: OpenShift Init
        id: trigger
        uses: bcgov/action-deployer-openshift@d972993c70aba88e4f2fe66a66c4b7149fa9fcad # v4.0.0
        with:
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          file: common/openshift.init.yml
          overwrite: true
          parameters: -p ZONE=${{ inputs.target }}
            -p ORACLE_PASSWORD='${{ secrets.ORACLE_PASSWORD }}'
            -p ORACLE_SERVICE='${{ secrets.ORACLE_DB_SERVICE }}'
            -p ORACLE_USER='${{ secrets.ORACLE_USER }}'
            -p ORACLE_HOST='${{ secrets.ORACLE_DB_HOST }}'
          triggers: ${{ inputs.triggers }}
  deploy:
    name: Deploy
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-deployer-openshift@v4.0.0
        with:
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          file: sync/openshift.deploy.yml
          overwrite: sync/openshift.deploy.yml
          parameters: -p ZONE=${{ inputs.target }}
            -p TAG=${{ inputs.tag }}
            -p TEST_MODE=${{ inputs.test-mode }}
            -p SECRETS_FROM=${{ inputs.secrets-from }}
          timeout: 5m
          triggers: ${{ inputs.triggers }}

  etl-run:
    name: Run ETL
    if: inputs.run-etl == true
    needs: [deploy]
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 #v1.3.0
        with:
          commands: ./sync/oc_run.sh ${{ inputs.target }}
          oc_namespace: ${{ vars.OC_NAMESPACE }}
          oc_server: ${{ vars.OC_SERVER }}
          oc_token: ${{ secrets.OC_TOKEN }}
          timeout: 10
          triggers: ${{ inputs.triggers }}
